.add-comment {
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
  margin-bottom: 5px;
}
.comment-textarea {
  width: 100%;
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #f0f0f0;
  border-radius: 1em;
}

.comment-textarea textarea {
  width: 100%;
  background-color: inherit;
  min-height: 16px;
  max-height: 500px;
  font: 14px sans-serif;
  resize: none;
  border: none;
  outline: none;
  padding: 0 2px;
}

.reply{
  align-self: flex-end;
  padding: 8px 0;
}

.reply button {
  background-color: #f4b5e6;
  color: #fff;
  border-radius: 4px;
  border:none;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}