.comment-wrapper {
  margin: 5px 0;
}

.comment-top {
  display: flex;
  align-items: flex-end;
}

.comment-details {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 1em;
  width: fit-content;
}

.commenter {
  font: bold 14px sans-serif;
  line-height: 1.5;
}

.comment-text {
  white-space: pre-wrap;
  font: 16px sans-serif;
  line-height: 1.5;
}

.comment-likes {
  color: #f4b5e6;
  font: 12px sans-serif;
  padding: 10px 8px;
}

.comment-bottom {
  display: flex;
}

.comment-bottom button {
  border: none;
  background-color: transparent;
  color: #f4b5e6;
  font: bold 12px sans-serif;
  cursor: pointer;
}

.comment-time {
  color: #9c9c9c;
  font-size: 12px;
}