.comment-wrapper {
  padding: 5px 0;
}

.comment-top {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.comment-details {
  position: relative;
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #f0f0f0;
  border-radius: 1em;
}

.edit {
  width: 100%;
}

.comment-details textarea {
  width: 100%;
  background-color: transparent;
  min-height: 16px;
  max-height: 300px;
  font: 16px sans-serif;
  resize: none;
  border: none;
  outline: none;
  padding:0;
}

.commenter {
  font: bold 14px sans-serif;
  line-height: 1.5;
  color:black;
  text-decoration: none;
}

.commenter:hover {
  text-decoration: underline;
}

.comment-text {
  white-space: pre-wrap;
  font: 16px sans-serif;
  line-height: 1.5;
}

.comment-likes {
  position: absolute;
  right: -10px;
  bottom: -5px;
  background-color: #fff;
  border-radius: 10em;
  box-shadow: .5px .5px 2px #db93fc;
  color: #f4b5e6;
  font: 12px sans-serif;
  padding: 3px;
}

.edit-comment span{
  cursor: pointer;
  margin-right: 10px;
  font: 12px sans-serif;
  color: #f4b5e6;
}

.comment-bottom {
  display: flex;
  padding-left: 12px;
}

.comment-bottom button {
  border: none;
  background-color: transparent;
  color: #f4b5e6;
  font: bold 12px sans-serif;
  cursor: pointer;
  padding-left: 0;
}