.navbar {
  background-color: white;
  margin-bottom: 5px;
  z-index: 10;
}

.navbar-header {
  background-color: #efd4fc;
}

.navbar h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.navbar-search {
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
}

.searchbox {
  display: flex;
  flex-grow: 2;
  align-items: center;
  margin: 0 10px;
  padding: 7px 10px;
  border-radius: 10em;
  background-color: #f0f0f0;
}

.searchbox input {
  outline: none;
  border: none;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  margin-left: 10px;
}

.navbar-search button{
  background-color: transparent;
  border: none;
  color: #f4b5e6;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
  }
  
  .navbar.shadow {
    box-shadow: 0px 1px 10px #efd4fc;
  }

  .navbar-header {
    background-color: inherit;
  }
  .navbar h1 {
    color: #f4b5e6;
    padding: 10px;
    margin-right: 20px;
  }

  .navbar-search {
    width: 40vw;
  }
}

