.post {
  margin: 5px 0;
  padding: 10px;
  background-color: #fff;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.username {
  font-weight: bold;
}

.post-time {
  color: #9c9c9c;
  font-size: 12px;
}

.post-content {
  padding: 20px 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}