.current-feedback{ 
  display: flex;
  justify-content: space-between;
  color: #9c9c9c;
  margin-bottom: 10px;
}

.post-feedback {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.post-feedback button {
  border: none;
  background-color: transparent;
  color: rgb(244, 181, 230);
  font-weight: bold;
  cursor: pointer;
}

.post-feedback button:hover {
  text-shadow: .25px .25px rgb(244, 181, 230);
}

.view-all{ 
  font: bold 16px sans-serif;
  color: #9c9c9c;
  cursor: pointer;
  padding-top: 10px;
}