.user-menu {
  position: absolute;
  right: 0;
  top: 0;
  margin: 13px;
  cursor: pointer;
}

.profile-icon {
  font-size: 32px;
  color: #fff;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 45px;
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 2px;
  z-index: 2;
}

.dropdown-menu > * {
  background: #fff;
  border: none;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font: 13px sans-serif;
  color: black;
}

.dropdown-menu > *:hover {
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
  .profile-icon {
    color: #f4b5e6;
  }
}
